<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:security="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 自定义授权出错处理器 -->
    <bean id="accessDeniedHandler" class="cn.mzhong.janytask.admin.auth.AccessDeniedHandler"/>
    <!-- 认证（登录）成功处理器 -->
    <bean id="authenticationSuccessHandler" class="cn.mzhong.janytask.admin.auth.AuthenticationSuccessHandler"/>
    <!-- 认证（登录）失败处理器 -->
    <bean id="authenticationFailureHandler" class="cn.mzhong.janytask.admin.auth.AuthenticationFailureHandler"/>
    <!-- session失效（未登录）执行 -->
    <bean id="invalidSessionStrategy" class="cn.mzhong.janytask.admin.auth.InvalidSessionStrategy"/>
    <!-- 未登录跳转点 -->
    <bean id="authenticationEntryPoint" class="cn.mzhong.janytask.admin.auth.AuthenticationEntryPoint"/>
    <!-- 登录前置验证过滤器 -->
    <bean id="preValidateAuthenticationFilter"
                class="cn.mzhong.janytask.admin.auth.PreValidateAuthenticationFilter">
        <constructor-arg value="/auth/login.do"/>
    </bean>
    <!-- 登出成功处理器 -->
    <bean id="logoutSuccessHandler" class="cn.mzhong.janytask.admin.auth.LogoutSuccessHandler"/>
    <!-- 配置加密的算法 -->
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <!-- 自定义User服务 -->
    <bean id="userDetailsService" class="cn.mzhong.janytask.admin.auth.UserDetailsService"/>
    <!-- 自定义Provider -->
    <bean id="daoAuthenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="passwordEncoder" ref="bCryptPasswordEncoder"/>
        <property name="userDetailsService" ref="userDetailsService"/>
    </bean>

    <!-- 不需要验证的地址 -->
    <security:http pattern="/verify-code/**" security="none"/>
    <security:http pattern="/initialize/**" security="none"/>
    <security:http pattern="/favicon.ico" security="none"/>

    <security:http pattern="/**"
          entry-point-ref="authenticationEntryPoint"
          authentication-manager-ref="authenticationManager"
          use-expressions="true">

        <security:custom-filter ref="preValidateAuthenticationFilter" before="FORM_LOGIN_FILTER"/>
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>
        <security:access-denied-handler ref="accessDeniedHandler"/>
        <!-- session管理器 -->
        <security:session-management invalid-session-strategy-ref="invalidSessionStrategy">
            <security:concurrency-control max-sessions="1"/>
        </security:session-management>
        <!-- 登录相关 -->
        <security:form-login authentication-success-handler-ref="authenticationSuccessHandler"
                    authentication-failure-handler-ref="authenticationFailureHandler"
                    login-processing-url="/auth/login.do"
                    username-parameter="username"
                    password-parameter="password"/>
        <security:logout logout-url="/auth/logout.do" success-handler-ref="logoutSuccessHandler" />
        <security:remember-me key="__dadf1dd232323" token-validity-seconds="1209600"/>
        <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager id="authenticationManager" erase-credentials="false">
        <security:authentication-provider ref="daoAuthenticationProvider"/>
    </security:authentication-manager>

    <!-- 开启注解驱动 -->
    <security:global-method-security jsr250-annotations="enabled" secured-annotations="enabled" pre-post-annotations="enabled"/>

</beans>