<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mainDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="url" value="#{'jdbc:sqlite:' + T(cn.mzhong.janytask.admin.conf.SQLiteConfig).DB_MAIN_LOCATION}"/>
    </bean>

    <bean id="mainSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="mainDataSource"/>
        <property name="mapperLocations" value="classpath*:cn/mzhong/janytask/admin/**/mapper/main/*.xml"/>
    </bean>

    <bean id="mainMapperConfiger" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="mainSqlSessionFactory"/>
        <property name="basePackage" value="cn.mzhong.janytask.admin.**.mapper.main"/>
    </bean>

</beans>