<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mzhong.janytask.admin.base.mapper.main.UserMapper">

    <select id="isTableCreated" resultType="boolean">
        SELECT count( * ) _count FROM sqlite_master WHERE type = 'table' AND name =  'ja_user'
    </select>

    <update id="createTable">
        CREATE TABLE ja_user (
            username varchar ( 128 ) PRIMARY KEY NOT NULL,
            password char ( 32 ) NOT NULL,
            name varchar ( 128 ),
            email varchar ( 128 )
        )
    </update>
</mapper>